[submodule "BatteryEngine/imgui"]
	path = BatteryEngine/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "modules/imgui"]
	path = modules/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "modules/spdlog"]
	path = modules/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "modules/implot"]
	path = modules/implot
	url = https://github.com/epezent/implot.git
[submodule "modules/VersyPDF"]
	path = modules/VersyPDF
	url = https://github.com/sybrexsys/VersyPDF.git
